/**************
*   MIXINS    *
***************/
/*****************
*   VARIABLES    *
******************/
/* Rows */
/* Circles */
/* Paths */
/* I'm New */
/* LifeGroups */
/* Men */
/* Women */
/* Young Adults */
/* Senior Ministries */
/* Healing & Wholeness */
/* All Children */
/* Nursery */
/* Early Childhood */
/* 1st&2nd */
/* 3rd-5th */
/* All Youth */
/* 6th Grade */
/* Jr. High */
/* High School */
/* Camp */
/* Holidays */
/* International Ministries */
/* Local Outreach */
/* Global Outreach */
/* New to B4 */
/* New Christian */
/* Unassigned */
/***************************
*   ALL SCREEN DISPLAYS    *
****************************/
body {
  /*	color: #f00; */
  background-color: #FFF; }

h2.pane-title, h2.atmosphere-id {
  display: none;
  visibility: hidden; }

#content-wrapper {
  -moz-box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  -webkit-box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  position: relative; }

.page-taxonomy-term-13 h2, .page-taxonomy-term-13 .page-title-background {
  color: #fcb822;
  fill: #fcb822; }

.page-taxonomy-term-14 h2, .page-taxonomy-term-14 .page-title-background {
  color: #22b24c;
  fill: #22b24c; }

.page-taxonomy-term-15 h2, .page-taxonomy-term-15 .page-title-background {
  color: #a62e2c;
  fill: #a62e2c; }

.page-taxonomy-term-16 h2, .page-taxonomy-term-16 .page-title-background {
  color: #287588;
  fill: #287588; }

#sticky-links {
  background-color: #000;
  color: #FFF;
  height: 45px;
  overflow: hidden; }

#atmospheric-images {
  position: relative;
  top: -528px;
  z-index: -10; }

#page-deco svg {
  position: relative;
  top: -60px;
  z-index: -5; }

.page-title-background {
  display: inline-block; }

h1#page-title {
  color: #CCC;
  display: inline-block;
  vertical-align: middle; }

img.field-orbit-image {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */ }

footer.row, footer.row h2 {
  background-color: #000;
  color: #FFF; }

/*********************
*   Small display    *
**********************/
@media only screen and (max-width: 767px) {
  body {
    margin: 0; }

  img.field-orbit-image {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */
    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */ } }
/**********************
*   Medium display    *
**********************/
/**************************
*   Very Large display    *
**************************/
