/* Mix-ins */
body {
  /*	color: #f00; */
  background-color: #FFF; }

/*********************************
*   All Displays or "Desktop"    *
**********************************/
/* Primary navigation and decoration for Desktop & Tablet */
#sticky-links {
  background-color: #000;
  color: #FFF;
  height: 45px;
  overflow: hidden; }

img.field-orbit-image {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */ }

footer.row {
  background-color: #000;
  color: #FFF; }

/*********************
*   Small display    *
**********************/
@media only screen and (max-width: 767px) {
  body {
    margin: 0; }

  img.field-orbit-image {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */
    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */ } }
/**********************
*   Medium display    *
**********************/
/**************************
*   Very Large display    *
**************************/
#atmospheric {
  position: relative; }
