/**************
*   MIXINS    *
***************/
/*****************
*   VARIABLES    *
******************/
/* Rows */
/* Circles */
/* Paths */
/* I'm New */
/* LifeGroups */
/* Men */
/* Women */
/* Young Adults */
/* Senior Ministries */
/* Healing & Wholeness */
/* All Children */
/* Nursery */
/* Early Childhood */
/* 1st&2nd */
/* 3rd-5th */
/* All Youth */
/* 6th Grade */
/* Jr. High */
/* High School */
/* Camp */
/* Holidays */
/* International Ministries */
/* Local Outreach */
/* Global Outreach */
/* New to B4 */
/* New Christian */
/* Unassigned */
/***************************
*   ALL SCREEN DISPLAYS    *
****************************/
body {
  /*	color: #f00; */
  background-color: #FFF; }

h2.pane-title, h2.atmosphere-id {
  display: none;
  visibility: hidden; }

div.radius img {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  border-radius: 10px; }

#content-wrapper {
  -moz-box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  -webkit-box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  box-shadow: 6px 0px 10px -7px #333333, -6px 0px 10px -7px #333333;
  position: relative; }

.button {
  border: 1px solid #000;
  margin: 0 3px; }

.page-taxonomy-term-13 h2, .page-taxonomy-term-13 .page-title-background {
  color: #000;
  fill: #fcb822; }

.page-taxonomy-term-13 a {
  color: #666666; }

.page-taxonomy-term-13 .button, .page-taxonomy-term-13 li.button {
  background: none repeat scroll 0 0 #666666;
  color: #fff; }

.page-taxonomy-term-13 .button, .page-taxonomy-term-13 li.button a {
  color: #fff; }

.page-taxonomy-term-13 li.button:hover, li.button a:hover, a:hover, a:active {
  background: none repeat scroll 0 0 #fcb822;
  color: #fff; }

.page-taxonomy-term-14 h2, .page-taxonomy-term-14 .page-title-background {
  color: #000;
  fill: #22b24c; }

.page-taxonomy-term-14 a {
  color: #666666; }

.page-taxonomy-term-14 .button, .page-taxonomy-term-14 li.button {
  background: none repeat scroll 0 0 #666666;
  color: #fff; }

.page-taxonomy-term-14 .button, .page-taxonomy-term-14 li.button a {
  color: #fff; }

.page-taxonomy-term-14 li.button:hover, li.button a:hover, a:hover, a:active {
  background: none repeat scroll 0 0 #22b24c;
  color: #fff; }

.page-taxonomy-term-15 h2, .page-taxonomy-term-15 .page-title-background {
  color: #000;
  fill: #a62e2c; }

.page-taxonomy-term-15 a {
  color: #666666; }

.page-taxonomy-term-15 .button, .page-taxonomy-term-15 li.button {
  background: none repeat scroll 0 0 #666666;
  color: #fff; }

.page-taxonomy-term-15 .button, .page-taxonomy-term-15 li.button a {
  color: #fff; }

.page-taxonomy-term-15 li.button:hover, li.button a:hover, a:hover, a:active {
  background: none repeat scroll 0 0 #a62e2c;
  color: #fff; }

.page-taxonomy-term-16 h2, .page-taxonomy-term-16 .page-title-background {
  color: #000;
  fill: #287588; }

.page-taxonomy-term-16 a {
  color: #666666; }

.page-taxonomy-term-16 .button, .page-taxonomy-term-16 li.button {
  background: none repeat scroll 0 0 #666666;
  color: #fff; }

.page-taxonomy-term-16 .button, .page-taxonomy-term-16 li.button a {
  color: #fff; }

.page-taxonomy-term-16 li.button:hover, li.button a:hover, a:hover, a:active {
  background: none repeat scroll 0 0 #287588;
  color: #fff; }

#sticky-links {
  background-color: #000;
  color: #FFF;
  height: 45px;
  overflow: hidden; }

#sticky-links div.block div.view div.view-content ul.no-bullet li.views-row-first {
  padding: 0 0 0 10px; }

#sticky-links div.block div.view div.view-content ul.no-bullet li.views-row {
  display: inline-block;
  margin: 0;
  padding: 0;
  vertical-align: middle; }

#sticky-links div.block div.view div.view-content ul.no-bullet li.views-row-last {
  padding: 0 10px 0 0; }

#atmospheric-images {
  /*position: relative;
  top: -528px;*/
  z-index: -10; }

#page-deco svg {
  position: relative;
  top: -60px;
  z-index: -5; }

.page-title-background {
  display: inline-block; }

h1#page-title {
  color: #CCC;
  display: inline-block;
  vertical-align: middle; }

.hidden-title h2.node-title, .hidden-title .node-readmore {
  display: none;
  visibility: hidden; }

img.field-orbit-image {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  /* future proofing */
  -khtml-border-radius: 10px;
  /* for old Konqueror browsers */ }

.views-field-field-category, .views-field-field-ministry-tags {
  display: inline;
  margin: -5px 0 20px 0; }

.tax-tag-cat a, .tax-tag-min a {
  display: inline;
  margin: 0 5px 0 0; }

footer.row, footer.row h2 {
  background-color: #000;
  color: #FFF; }

/*********************
*   Small display    *
**********************/
@media only screen and (max-width: 767px) {
  body {
    margin: 0; }

  img.field-orbit-image {
    -moz-border-radius: 0px;
    -webkit-border-radius: 0px;
    border-radius: 0px;
    /* future proofing */
    -khtml-border-radius: 0px;
    /* for old Konqueror browsers */ } }
/**********************
*   Medium display    *
**********************/
/**************************
*   Very Large display    *
**************************/
