/* Mix-ins */
@mixin orbitRadius {
-moz-border-radius: 10px;
-webkit-border-radius: 10px;
border-radius: 10px; /* future proofing */
-khtml-border-radius: 10px; /* for old Konqueror browsers */
}
@mixin orbitRadiusMobile {
-moz-border-radius: 0px;
-webkit-border-radius: 0px;
border-radius: 0px; /* future proofing */
-khtml-border-radius: 0px; /* for old Konqueror browsers */
}


body {
/*	color: #f00; */
	background-color: #FFF;
}
/*********************************
*   All Displays or "Desktop"    *
**********************************/
/* Primary navigation and decoration for Desktop & Tablet */
#sticky-links {
background-color: #000;
color: #FFF;
height: 45px;
overflow: hidden;
}
#branding {

}

img.field-orbit-image {
@include orbitRadius;
}

footer.row {
background-color: #000;
color: #FFF;
}



/*********************
*   Small display    *
**********************/
@media only screen and (max-width: 767px) {
body {
margin: 0;
}
img.field-orbit-image {
@include orbitRadiusMobile;
}
}



/**********************
*   Medium display    *
**********************/
@media only screen and (max-width: 1279px) and (min-width: 768px) { 
body {
}
}


/**************************
*   Very Large display    *
**************************/
@media only screen and (min-width: 1441px) { 
body {
}
}








#atmospheric {
	position: relative;
}
